@using Microsoft.AspNetCore.Components.Web
@namespace ChatGPT.Web.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject IWebHostEnvironment Environment

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-LL20YXC1KK"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-LL20YXC1KK');
    </script>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="~/"/>
    <link href="css/site.css" rel="stylesheet"/>
    <link href="ChatGPT.Web.styles.css" rel="stylesheet"/>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Free ChatGpt</title>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-799408937"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'AW-799408937');
    </script>
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered"/>
</head>
<body>
@RenderBody()
<script src="_framework/blazor.server.js"></script>
<script type="text/javascript">
    window.ChatGPTMethods = {

        scrollToEnd: function (textarea) {
            textarea.scrollTop = textarea.scrollHeight;
        }
    }
</script>
</body>
</html>