@using Microsoft.AspNetCore.Components.Web
@namespace ChatGPT.Web.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="~/"/>
    <link href="css/site.css" rel="stylesheet"/>
    <link href="ChatGPT.Web.styles.css" rel="stylesheet"/>
    <title>ChatGPT</title>
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered"/>
</head>
<body>
@RenderBody()
<script src="_framework/blazor.server.js"></script>
<script type="text/javascript">
    window.ChatGPTMethods = {

        scrollToEnd: function (textarea) {
            textarea.scrollTop = textarea.scrollHeight;
        }
    }
</script>
</body>
</html>